body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0a2a2;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f09696;
    padding: 20px;
}

.sidebar img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.sidebar h1 {
    font-size: 24px;
    margin: 0;
}

.sidebar p {
    font-size: 16px;
    margin: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.main {
    width: 600px;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 20px;
    margin: 0;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}


.section p {
    text-align: left;
}

.date {
    text-align: right;
}

.adc{
    position:relative;
    display: flex;
    width: 150px;
}
.main .section .aboutme2 {
    margin-top: 2px;
    margin-left: 5px;
}
.main .section .aboutme  {
    background: #ffffff;
    border-radius: 100%;
    width:26px;
    height:26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section .education {
    background: #ffffff;
    border-radius: 100%;
    width:26px;
    height:26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section .work {
    background: #ffffff;
    border-radius: 100%;
    width:26px;
    height:26px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-background {
    background-color: #f5afaf; 
    padding: 10px; 
    border-radius: 10px; 
}
.adc2{
    position:relative;
    display: flex;
    width: 150px;
}
.main .section .education2 {
    margin-top: 2px;
    margin-left: 5px;
}
.main .section .education  {
    background: #ffffff;
    border-radius: 100%;
    width:26px;
    height:26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adc3{
    position:relative;
    display: flex;
    width: 200px;
}
.main .section .work2 {
    margin-top: 2px;
    margin-left: 5px;
}
.main .section .work  {
    background: #ffffff;
    border-radius: 100%;
    width:26px;
    height:26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

